.theme-cyan .profile-page .profile-sub-header .box-list ul li a:hover,
.theme-cyan .menu > ul > li > ul.normal-sub > li a:hover,
.theme-cyan .menu > ul > li > ul > li > ul > li a:hover {
  background-color: #00bcd4;
}
.theme-cyan .navbar-brand {
  color: #00bcd4 !important;
}
.theme-cyan .navbar-brand:hover,
.theme-cyan .navbar-brand:active,
.theme-cyan .navbar-brand:focus {
  color: #00bcd4;
}
.theme-cyan .navbar {
  background: linear-gradient(201deg, #00bcd4, #0e7886);
}
.theme-cyan .nav > li > a {
  color: #fff;
}
.theme-cyan .nav > li > a:hover,
.theme-cyan .nav > li > a:focus {
  background-color: transparent;
}
.theme-cyan .nav .open > a {
  background-color: transparent;
}
.theme-cyan .nav .open > a:hover,
.theme-cyan .nav .open > a:focus {
  background-color: transparent;
}
.theme-cyan .bars {
  color: #fff;
}
.theme-cyan .sidebar .menu .list li.active {
  background-color: transparent;
}
.theme-cyan .sidebar .menu .list li.active > :first-child i,
.theme-cyan .sidebar .menu .list li.active > :first-child span {
  color: #00bcd4;
}
.theme-cyan .sidebar .menu .list a:hover {
  color: #00bcd4;
}
.theme-cyan .checkbox input[type="checkbox"]:checked + label::after {
  border: 1px solid #00bcd4;
}
.theme-cyan .inbox-widget .inbox-inner:hover .inbox-img img {
  border: 2px solid #00bcd4;
  transition: all 150ms linear;
}
/* .theme-cyan .nav-tabs .nav-link.active {
  border: 1px solid #00bcd4 !important;
} */
.theme-cyan .card .header h2:before {
  background: #00a69c;
}
.form-check-label {
  color: #667b85;
}
.theme-cyan .card .header h2 strong{
  color: #00a69c;
}
.theme-cyan .blog-page .single-blog-post .img-holder .date-box {
  background-color: #00bcd4;
}